.button {
    background-color: $light-blue;
    border: none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background-color: inherit;
}

.button--secondary {
    @extend .button;
    background-color: $grey;
}
