// Colours

    // black
$off-black: #20222b;
    // blue
$blue: #3c4251;
$dark-blue: #364051;
$light-blue: #0caad1;
    // grey
$dark-grey: #333;
$grey: #666;
    // purple
$purple: #8357c5;
    // white
$off-white: #f7f7f7;

// Fonts
    // Size
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
